body {
    font-family: Arial, 'Times New Roman', Times, serif;
    background-color: #2a2a58;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
.container h1 {
    margin-bottom: 20px;
    color: #333;
}
.container input, .container select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c5bdbd;
    border-radius: 8px;
}
.container button {
    padding: 10px 20px;
    background-color: #5a3761;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.container button:hover {
    background-color: #47284c;
}
.result {
    margin-top: 20px;
    text-align: center;
}
.suggestion-plan {
    text-align: center;
    margin-top: 20px;
}
